<ion-content *ngIf="posts.length > 0">
  <ion-text class="ion-text-center ion-no-padding">
    <h3>{{ nama_collection }}</h3>
    <p class="ion-no-margin">Made by {{ pembuat }}</p>
  </ion-text>

  <ion-card *ngFor="let post of posts">
    <ion-item>
      <ion-avatar slot="start" style="width: 30px; height: 30px">
        <img
          src="https://gravatar.com/avatar/dba6bae8c566f9d4041fb9cd9ada7741?d=identicon&f=y"
        />
      </ion-avatar>
      <ion-label>
        <h3>{{ post.username }}</h3>
        <p>{{ post.uploaded_at }}</p>
      </ion-label>
    </ion-item>
    <img
      *ngIf="post.url !== null"
      src="https://ubaya.fun/hybrid/160419144/hmp_uas/posts/images/{{
        post.url
      }}.jpg"
    />

    <ion-card-content>
      <p *ngIf="post.caption.length <= 200">{{ post.caption }}</p>
      <p
        *ngIf="post.caption.length > 200"
        routerLink="/detailpost/{{ post.idpost }}"
      >
        {{ trimString(post.caption, 200) }}
      </p>
    </ion-card-content>

    <ion-footer>
      <ion-grid>
        <ion-row>
          <ion-col class="ion-align-self-center ion-text-center">
            <div
              *ngIf="status[post.idpost] !== 'liked'"
              (click)="like(post.idpost)"
            >
              <ion-icon size="large" name="heart-outline"></ion-icon>
            </div>
            <div
              *ngIf="status[post.idpost] === 'liked'"
              (click)="unlike(post.idpost)"
            >
              <ion-icon size="large" name="heart"></ion-icon>
            </div>
          </ion-col>
          <ion-col
            class="ion-align-self-center ion-text-center"
            routerLink="/detailpost/{{ post.idpost }}"
          >
            <ion-icon size="large" name="chatbubble-outline"></ion-icon>
          </ion-col>
          <ion-col class="ion-align-self-center ion-text-center">
            <ion-icon
              *ngIf="username == pembuat"
              size="large"
              name="bookmark"
              (click)="removePost(post.idpost)"
            ></ion-icon>
            <ion-icon
              *ngIf="username != pembuat"
              size="large"
              name="bookmark-outline"
              routerLink="/collectionpicker/{{ post.idpost }}"
            ></ion-icon>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-footer>
  </ion-card>
</ion-content>

<ion-content *ngIf="posts.length == 0">
  <ion-text class="ion-text-center ion-no-padding">
    <h3>There is no post in the collection.</h3>
  </ion-text>
</ion-content>
