<ion-content>
  <ion-title class="ion-text-center ion-no-padding">
    <h3>{{ username }}'s Profile</h3>
  </ion-title>
  <ion-card>
    <ion-item>
      <ion-input name="nama" type="text" placeholder="Nama" [(ngModel)]="nama">
      </ion-input>
    </ion-item>

    <ion-item>
      <ion-input
        name="password"
        type="password"
        placeholder="Password"
        [(ngModel)]="password"
      >
      </ion-input>
    </ion-item>
    <ion-item>
      <ion-input
        name="email"
        type="email"
        placeholder="Email"
        [(ngModel)]="email"
      >
      </ion-input>
    </ion-item>
    <ion-item>
      <ion-input
        name="location"
        type="text"
        placeholder="Location (optional)"
        [(ngModel)]="lokasi"
      >
      </ion-input>
    </ion-item>
    <ion-item>
      <ion-input
        name="bio"
        type="text"
        placeholder="Bio (optional)"
        [(ngModel)]="bio"
      >
      </ion-input>
    </ion-item>
    <ion-list>
      <ion-radio-group [(ngModel)]="gender">
        <ion-list-header>
          <ion-label>
            <h4>Gender</h4>
          </ion-label>
        </ion-list-header>
        <ion-item>
          <ion-label>Laki-laki</ion-label>
          <ion-radio value="Laki"></ion-radio>
        </ion-item>
        <ion-item>
          <ion-label>Perempuan</ion-label>
          <ion-radio value="Perempuan"></ion-radio>
        </ion-item>
      </ion-radio-group>
    </ion-list>
    <ion-list>
      <ion-list-header>
        <ion-label>
          <h4>Birth Date</h4>
        </ion-label>
      </ion-list-header>
      <ion-item>
        <ion-input
          name="date"
          type="text"
          placeholder="DD/MM/YYYY"
          [(ngModel)]="tanggal_lahir"
        >
        </ion-input>
      </ion-item>
    </ion-list>
    <ion-list>
      <ion-list-header>
        <ion-label>
          <h4>Profile Picture (optional)</h4>
        </ion-label>
      </ion-list-header>
      <ion-item>
        <ion-img
          *ngIf="url === null"
          src="https://gravatar.com/avatar/dba6bae8c566f9d4041fb9cd9ada7741?d=identicon&f=y"
        >
        </ion-img>
        <ion-img
          *ngIf="url !== null"
          src="https://ubaya.fun/hybrid/160419144/hmp_uas/users/images/{{
            url
          }}"
        >
        </ion-img>
        <ion-button (click)="ambilFoto()">
          <ion-icon name="camera"></ion-icon>
        </ion-button>
      </ion-item>
    </ion-list>
    <ion-text class="ion-text-center">
      <p *ngIf="statusSignUp">
        <ion-chip>{{ statusSignUp }}</ion-chip>
      </p>
    </ion-text>
    <ion-button type="submit" expand="block" (click)="edit()">Edit</ion-button>
  </ion-card>
</ion-content>
