<ion-item>
  <ion-label position="floating">Caption</ion-label>
  <ion-textarea
    (input)="checkCaption($event)"
    [(ngModel)]="caption"
  ></ion-textarea>

  <ion-img *ngIf="postUrl !== ''" src="{{ postUrl }}"> </ion-img>
  <ion-img
    *ngIf="postUrl == ''"
    src="https://gravatar.com/avatar/dba6bae8c566f9d4041fb9cd9ada7741?d=identicon&f=y"
  >
  </ion-img>

  <ion-button (click)="ambilFoto()">
    <ion-icon name="camera"></ion-icon>
  </ion-button>
</ion-item>
<ion-button expand="block" [disabled]="disabled" (click)="addPost()"
  >Simpan
</ion-button>
