<ion-header>
  <ion-toolbar>
    <ion-title>Login</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-card>
    <ion-item>
      <ion-input
        name="username"
        type="text"
        placeholder="Username"
        [(ngModel)]="username"
      >
      </ion-input>
    </ion-item>
    <ion-item>
      <ion-input name="nama" type="text" placeholder="Nama" [(ngModel)]="nama">
      </ion-input>
    </ion-item>
    <ion-item>
      <ion-input name="nama" type="text" placeholder="Nama" [(ngModel)]="nama">
      </ion-input>
    </ion-item>
    <ion-item>
      <ion-input
        name="nama"
        type="email"
        placeholder="Email"
        [(ngModel)]="email"
      >
      </ion-input>
    </ion-item>
    <ion-item>
      <ion-input
        name="lokasi"
        type="text"
        placeholder="Lokasi"
        [(ngModel)]="lokasi"
      >
      </ion-input>
    </ion-item>
    <ion-item>
      <ion-input name="bio" type="text" placeholder="Bio" [(ngModel)]="bio">
      </ion-input>
    </ion-item>
    <ion-button type="submit" expand="block" (click)="signup()"
      >Sign Up</ion-button
    >
    <ion-chip *ngIf="statusSignUp">{{ statusLogin }}</ion-chip>
  </ion-card>
  <ion-text
    ><h3>Already have an account? <b>Sign In</b></h3></ion-text
  >
</ion-content>
