<ion-card>
  <ion-card-header>
    <ion-item style="margin-left: -15px; padding-bottom: 15px">
      <ion-avatar slot="start" style="width: 30px; height: 30px">
        <img
          *ngIf="usernameUrl !== null"
          src="https://ubaya.fun/hybrid/160419144/hmp_uas/users/images/{{
            data.usernameUrl
          }}"
        />
        <img
          *ngIf="usernameUrl == null"
          src="https://gravatar.com/avatar/dba6bae8c566f9d4041fb9cd9ada7741?d=identicon&f=y"
        />
      </ion-avatar>
      <ion-label>
        <h3>{{ data.username }}</h3>
        <p>{{ data.uploaded_at }}</p>
      </ion-label>
    </ion-item>
    <img
      *ngIf="url !== null"
      src="https://ubaya.fun/hybrid/160419144/hmp_uas/posts/images/{{ url }}"
    />
    <ion-grid>
      <ion-row>
        <ion-col class="ion-align-self-left ion-text-left">
          <div *ngIf="status != 'liked'" (click)="like()">
            <ion-icon size="large" name="heart-outline"></ion-icon>
            <ion-label size="large">{{ likes }}</ion-label>
          </div>
          <div *ngIf="status == 'liked'" (click)="unlike()">
            <ion-icon size="large" name="heart"></ion-icon>
            <ion-label size="large">{{ likes }}</ion-label>
          </div>
        </ion-col>
        <ion-col class="ion-align-self-right ion-text-right">
          <ion-icon
            size="large"
            name="bookmark-outline"
            routerLink="/collectionpicker/{{ id }}"
          ></ion-icon>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-card-header>

  <ion-card-content>
    {{ data.caption }}
  </ion-card-content>
  <ion-item>
    <h4 style="padding-left: 1%; padding-right: 10px; padding-bottom: 5px">
      Comment :
    </h4>
    <ion-input type="text" [(ngModel)]="textComment"></ion-input>
    <div (click)="addComment()"><ion-icon name="send-outline"></ion-icon></div>
  </ion-item>

  <ion-list>
    <ion-item *ngFor="let comment of comments">
      <ion-avatar slot="start">
        <img
          *ngIf="comment.url !== null"
          src="https://ubaya.fun/hybrid/160419144/hmp_uas/users/images/{{
            comment.url
          }}"
        />
        <img
          *ngIf="comment.url == null"
          src="https://gravatar.com/avatar/dba6bae8c566f9d4041fb9cd9ada7741?d=identicon&f=y"
        />
      </ion-avatar>
      <ion-label>
        <h2>{{ comment.username }}</h2>
        <p>{{ comment.comment }}</p>
      </ion-label>
      <div
        *ngIf="comment.username == username"
        (click)="deleteComment(comment.idaction)"
      >
        <ion-icon name="trash-outline"></ion-icon>
      </div>
    </ion-item>
  </ion-list>
</ion-card>
