<ion-content>
  <div class="card">
    <div class="header">
      <div class="avatar">
        <ion-avatar>
          <img src="https://gravatar.com/avatar/dba6bae8c566f9d4041fb9cd9ada7741?d=identicon&f=y" alt="">
        </ion-avatar>
      </div>
      <!-- <ion-text color="dark">
        <h2 style="text-align: center;">{{ profile.username }}</h2>
      </ion-text> -->
      <ion-text color="dark">
        <h2 style="text-align: center;">{{ profile.nama }}</h2>
      </ion-text>
    </div>
    <ion-grid>
      <ion-row>
        <ion-col size="4">
          <ion-item (click)="hideElmt('post')">Post({{ profile.following? profile.following.length : '' }})</ion-item>
        </ion-col>
        <ion-col size="4">
          <ion-item (click)="hideElmt('following')">Following({{ profile.following? profile.following.length :0 }})
          </ion-item>
        </ion-col>
        <ion-col size="4">
          <ion-item (click)="hideElmt('followers')">Followers({{ profile.following? profile.following.length : 0 }})
          </ion-item>
        </ion-col>
      </ion-row>
    </ion-grid>
    <div *ngIf="post=='unhide'">
      <ion-card *ngFor="let post of profile.posts">
        <ion-card-content>
          {{ post.caption }}
        </ion-card-content>
      </ion-card>
    </div>
    <!-- following -->
    <div *ngIf="following=='unhide'">
      <ion-list>
        <ion-item *ngFor="let pro of profile.following">
          <ion-chip>{{ pro.username }}</ion-chip>
        </ion-item>
      </ion-list>
    </div>
    <div *ngIf="followers=='unhide'">
      <ion-list>
        <ion-item *ngFor="let pro of profile.followers">
          <ion-chip>{{ pro.username }}</ion-chip>
        </ion-item>
      </ion-list>
    </div>
  </div>
  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button>
      <ion-icon name="add" ></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
