.text-center {
  align-items: center;
}

.vertical-center {
  margin: 0 auto;
}

.card {
  .avatar {
    padding-top: 2rem;
    text-align: center;

    ion-avatar {
      margin: 0 auto;
    }
  }
}
