<ion-content>
  <div class="card">
    <div class="header">
      <div class="avatar">
        <ion-avatar>
          <img *ngIf="profile.url === null"
            src="https://gravatar.com/avatar/dba6bae8c566f9d4041fb9cd9ada7741?d=identicon&f=y" alt="" />
          <img *ngIf="profile.url !== null" src="https://ubaya.fun/hybrid/160419144/hmp_uas/users/images/{{
              profile.username
            }}" alt="" />
        </ion-avatar>
      </div>
      <ion-text color="dark">
        <h2 style="text-align: center">{{ profile.nama }}</h2>
      </ion-text>
      <ion-text color="dark">
        <h5 style="text-align: center">{{ profile.username }}</h5>
      </ion-text>
      <ion-text color="dark">
        <h5 style="text-align: center">{{ profile.bio }}</h5>
      </ion-text>
      <section *ngIf="username !== user" class="ion-margin-horizontal">
        <ion-button expand="block" *ngIf="doesFollowThem" color="success" (click)="unfollow()">Following</ion-button>
        <ion-button expand="block" *ngIf="!doesFollowThem" (click)="follow()">Follow</ion-button>
      </section>
      <section *ngIf="username == user">
        <ion-button expand="block" routerLink="/formprofile/{{ username }}">Edit Profile</ion-button>
      </section>
    </div>
    <ion-grid>
      <ion-row>
        <ion-col size="4">
          <ion-item (click)="hideElmt('post')">Posts({{ profile.posts ? profile.posts.length : "" }})</ion-item>
        </ion-col>
        <ion-col size="4">
          <ion-item (click)="hideElmt('following')">Following({{ profile.following ? profile.following.length : 0 }})
          </ion-item>
        </ion-col>
        <ion-col size="4">
          <ion-item (click)="hideElmt('followers')">Followers({{ profile.followers ? profile.followers.length : 0 }})
          </ion-item>
        </ion-col>
      </ion-row>
    </ion-grid>
    <div *ngIf="post === 'unhide'">
      <ion-card *ngFor="let post of profile.posts; let i = index">
        <ion-item>
          <ion-avatar slot="start" style="width: 30px; height: 30px">
            <img *ngIf="profile.url === null"
              src="https://gravatar.com/avatar/dba6bae8c566f9d4041fb9cd9ada7741?d=identicon&f=y" alt="" />
            <img *ngIf="profile.url !== null" src="https://ubaya.fun/hybrid/160419144/hmp_uas/users/images/{{
                profile.username
              }}" alt="" />
          </ion-avatar>
          <ion-label>
            <h3>{{ post.username }}</h3>
            <p>{{ post.uploaded_at }}</p>
          </ion-label>
          <ion-label class="ion-align-self-right ion-text-right">
            <ion-icon *ngIf="user == profile.username" name="ellipsis-vertical-outline"
              (click)="presentActionSheet(post.idpost)"></ion-icon>
          </ion-label>
        </ion-item>
        <img *ngIf="post.url !== null" src="https://ubaya.fun/hybrid/160419144/hmp_uas/posts/images/{{
            post.url
          }}" />
        <ion-card-content>
          <p *ngIf="post.caption.length <= 200">{{ post.caption }}</p>
          <p *ngIf="post.caption.length > 200" routerLink="/detailpost/{{ post.idpost }}">
            {{ trimString(post.caption, 200) }}
          </p>
        </ion-card-content>

        <ion-footer>
          <ion-grid>
            <ion-row>
              <ion-col class="ion-align-self-center ion-text-center">
                <div *ngIf="status[post.idpost] !== 'liked'" (click)="like(post.idpost)">
                  <ion-icon size="large" name="heart-outline"></ion-icon>
                </div>
                <div *ngIf="status[post.idpost] === 'liked'" (click)="unlike(post.idpost)">
                  <ion-icon size="large" name="heart"></ion-icon>
                </div>
              </ion-col>
              <ion-col class="ion-align-self-center ion-text-center" routerLink="/detailpost/{{ post.idpost }}">
                <ion-icon size="large" name="chatbubble-outline"></ion-icon>
              </ion-col>
              <ion-col class="ion-align-self-center ion-text-center">
                <ion-icon size="large" name="bookmark-outline" routerLink="/collectionpicker/{{ post.idpost }}">
                </ion-icon>
              </ion-col>
            </ion-row>
          </ion-grid>
        </ion-footer>
      </ion-card>
    </div>
    <!-- following -->
    <div *ngIf="following === 'unhide'">
      <ion-card *ngFor="let pro of profile.following">
        <ion-card-content routerLink="/profile/{{ pro.following }}">
          <ion-grid>
            <ion-row>
              <ion-col size="3">
                <ion-avatar style="width: 50px; height: 50px">
                  <img *ngIf="pro.url === null"
                    src="https://gravatar.com/avatar/dba6bae8c566f9d4041fb9cd9ada7741?d=identicon&f=y" />
                  <img *ngIf="pro.url !== null" src="https://ubaya.fun/hybrid/160419144/hmp_uas/users/images/{{
                      pro.url
                    }}" />
                </ion-avatar>
              </ion-col>
              <ion-col>
                <ion-card-title>
                  <h3>
                    <b *ngIf="pro.following !== user">{{ pro.following }}</b>
                    <b *ngIf="pro.following === user">you</b>
                  </h3>
                </ion-card-title>
                <ion-card-subtitle>{{ pro.nama }}</ion-card-subtitle>
              </ion-col>
            </ion-row>
          </ion-grid>
        </ion-card-content>
      </ion-card>
    </div>
    <div *ngIf="followers === 'unhide'">
      <ion-card *ngFor="let pro of profile.followers">
        <ion-card-content routerLink="/profile/{{ pro.username }}">
          <ion-grid>
            <ion-row>
              <ion-col size="3">
                <ion-avatar style="width: 50px; height: 50px">
                  <img *ngIf="pro.url === null"
                    src="https://gravatar.com/avatar/dba6bae8c566f9d4041fb9cd9ada7741?d=identicon&f=y" />
                  <img *ngIf="pro.url !== null" src="https://ubaya.fun/hybrid/160419144/hmp_uas/users/images/{{
                      pro.url
                    }}" />
                </ion-avatar>
              </ion-col>
              <ion-col>
                <ion-card-title>
                  <h3>
                    <b *ngIf="pro.username !== user">{{ pro.username }}</b>
                    <b *ngIf="pro.username === user">you</b>
                  </h3>
                </ion-card-title>
                <ion-card-subtitle>{{ pro.nama }}</ion-card-subtitle>
              </ion-col>
            </ion-row>
          </ion-grid>
        </ion-card-content>
      </ion-card>
    </div>
  </div>
</ion-content>
