<ion-content *ngIf="collection.length > 0">
  <ion-card *ngFor="let c of collection; let i = index">
    <ion-card-content>
      <ion-grid>
        <ion-row>
          <ion-col size="3" class="ion-align-self-center ion-text-center"
            ><ion-icon name="library" size="large"></ion-icon
          ></ion-col>
          <ion-col routerLink="/detailcollection/{{ c.idcollection }}">
            <h2>{{ c.nama_collection }}</h2>
          </ion-col>
          <ion-col size="3" class="ion-align-self-center ion-text-center">
            <ion-icon
              *ngIf="username === c.username"
              name="add-circle"
              size="large"
              (click)="addToCollection(c.idcollection)"
            ></ion-icon>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-card-content>
  </ion-card>
  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button routerLink="/formcollection">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
<ion-content *ngIf="collection.length <= 0">
  <ion-text class="ion-text-center ion-no-padding">
    <h3>There is no collection to insert to.</h3>
  </ion-text>
</ion-content>
